body {
  background-color: #1DCDE0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: #1363ED;
  font-size: 56px;
  padding-left: 50px;
}

h1 ~ p {
  text-align: center;
  font-size: 18px;
  font-style: italic;
}

h3 {
  font-size: 24px;
}

a {
  
}


.lessons {
  background-color: #13ED87;
  border: 5px solid #14A4F7;
  border-radius: 15px;
  margin: 15px;
  padding: 20px;

}