body {
  background-color: #1DCDE0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

header, footer {
  background-color: #1363ED;
}

h1 {
  color: #14F7CE;
  font-size: 56px;
  text-align: center;
  margin-top: 0;
  padding-top: 30px;
}

h2 {
  font-size: 36px;
  margin-top: 0;
}

h3 {
  font-size: 24px;
  letter-spacing: 1px;
  border-bottom: 1px solid #14A4F7;
}

.row {
  text-align: left;
  width: 70%;
  margin: auto;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

.left {
  float: left;
  width: 30%;
}

.right {
  float: right;
  width: 60%;
}

.right p {
  font-size: 18px;  
}

a {
  background-color: #13ED87;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  border-radius: 3px;
  padding: 3px;
}

#profilePic {
  width: 100%;
  border-radius: 50%;
}

.container {
  margin: 50px auto;
}

.lessons {
  background-color: #14F7CE;
  color: #1363ED;
  border: 5px solid #13ED87;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 30px;
  padding: 0 60px;
  width: 60%;
  line-height: 40px;
}

footer {
  text-align: center;
  padding: 30px 0 50px;
}

footer p {
  color: #14F7CE;
  margin-bottom: 40px;
}

footer a {
  padding: 20px;
  border-radius: 10px;
}